@import "../../main.scss";

.projects {
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      .works {
        width: 700px;
        height: 100%;
        background-color: $mainColor;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .leftPro {
          flex: 6;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          // background-color: blue;

          .leftContainer {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 40px;
              height: 40px;
              background-color: red;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 25px;
              }
            }
            h2{
              font-size: 40px;
            }
            p{
              font-size: 20px;
            }
            span{
              font-size: 24px;
            }
          }
        }
        .rightPro {
          flex: 6;
          height: 100%;
          // background-color: yellow;
        }
      }
    }
  }
}
