.skills{
  display: flex;
  align-items: center;
  justify-content: center;

  .skillTable{
    background-color: white;
    width: 70vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 8px 20px black;


    img{
      width: 7rem;
      margin: 1rem;
    }
    .codingSkills{
      margin-top: 4rem;
      flex: 6;
      height: 100%;
      display: inline-block;
      align-items: center;
      justify-content: center;
    }

    .graphicSkills{
      flex: 6;
      height: 100%;
      display: inline-block;
      align-items: center;
      justify-content: center;
    }






  }


}